
.menu{
	width: 1200px;
	margin: 0 auto;
}
.menu .menuTop .menuTop1 li{
	float: left;
	font-weight: bold;
	font-size: 15px;
	padding: 0px 15px;
	list-style-type: none;
	height: 34px;
    line-height: 34px;
}
.menu .menuTop .menuTop1 .menuTopOne{
	position: relative;
	color: white;
	width: 210px;
    background:url(../img/indexhead_sprite.png) no-repeat #FF3C3C -115px -1205px;
    padding-left: 40px;
    box-sizing: border-box;
}
.menu .menuTop .menuTop1 .menuTopOne .menuTopOne1{
	background-color: #C23131;
	position: absolute;
	left: 0px;
	border-top: 2px solid #B01D1D;
}
.menu .menuTop .menuTop1 .menuTopOne .menuTopOne1 li{
	height: 33px;
	line-height: 33px;
	font-weight: normal;
	width: 210px;
	box-sizing: border-box;
    background: url(../img/indexhead_sprite1111.png) no-repeat 185px -1147px;
}
.menu .menuTop .menuTop1 .menuTopOne .menuTopOne1 li .navpic1{
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	background: url(../img/nav.png) no-repeat center 0px;
	margin-right: 10px;
}
.menu .menuTop .menuTop1 .menuTopOne .menuTopOne1 li .navpic2{
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	background: url(../img/nav.png) no-repeat center -47px;
	margin-right: 10px;
}
.menu .menuTop .menuTop1 .menuTopOne .menuTopOne1 li .navpic3{
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	background: url(../img/nav.png) no-repeat center -91px;
	margin-right: 10px;
}
.menu .menuTop .menuTop1 .menuTopOne .menuTopOne1 li .navpic4{
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	background: url(../img/nav.png) no-repeat center -133px;
	margin-right: 10px;
}
.menu .menuTop .menuTop1 .menuTopOne .menuTopOne1 li .navpic5{
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	background: url(../img/nav.png) no-repeat center -172px;
	margin-right: 10px;
}
.menu .menuTop .menuTop1 .menuTopOne .menuTopOne1 li .navpic6{
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	background: url(../img/nav.png) no-repeat center -212px;
	margin-right: 10px;
}
.menu .menuTop .menuTop1 .menuTopOne .menuTopOne1 li .navpic7{
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	background: url(../img/nav.png) no-repeat center -250px;
	margin-right: 10px;
}
.menu .menuTop .menuTop1 .menuTopOne .menuTopOne1 li .navpic8{
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	background: url(../img/nav.png) no-repeat center -291px;
	margin-right: 10px;
}
.menu .menuTop .menuTop1 .menuTopOne .menuTopOne1 li .navpic9{
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	background: url(../img/nav.png) no-repeat center -330px;
	margin-right: 10px;
}
.menu .menuTop .menuTop1 .menuTopOne .menuTopOne1 li .navpic10{
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	background: url(../img/nav.png) no-repeat center -371px;
	margin-right: 10px;
}
.menu .menuTop .menuTop1 .menuTopOne .menuTopOne1 li .navpic11{
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	background: url(../img/nav.png) no-repeat center -406px;
	margin-right: 10px;
}
.menu .menuTop .menuTop1 .menuTopOne .menuTopOne1 li .navpic12{
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	background: url(../img/nav.png) no-repeat center -444px;
	margin-right: 10px;
}
.menu .menuTop .menuTop1 .menuTopOne .menuTopOne1 li a{
	font-size: 12px;
	color: white;
	font-weight: normal;
	text-decoration: none;
}
.menu .menuTop .menuTop1 .menuTopTwo a{
	color: #FF0000;
	text-decoration: none;
}
.menu .menuTop .menuTop1 .menuTopThree a{
	color: #FF0000;
	text-decoration: none;
}
.menu .menuTop .menuTop1 .menuTopFour a{
	color: #FF0000;
	text-decoration: none;
}
.menu .menuTop .menuTop1 .menuTopFive a{
	color: black;
	text-decoration: none;
}
.menu .menuTop .menuTop1 .menuTopSix a{
	color: black;
	text-decoration: none;
}
.menu .menuTop .menuTop1 .menuTopSeven a{
	color: black;
	text-decoration: none;
}
.menu .menuTop .menuTop1 .menuTopEight a{
	color: black;
	text-decoration: none;
}
.menu .menuTop .menuTop1 .menuTopNine a{
	color: black;
	text-decoration: none;
}
.menu .menuTop .menuTop1 .menuTopTen a{
	color: black;
	text-decoration: none;
}