.content1{
	background-color: #F9F9F9;
	font-family: "微软雅黑";
}
.content1 .contentBox1{
	width: 1200px;
	margin: 0px auto;
	padding-top: 40px;
}
.content1 .contentBox1 .contentTop1{
	padding-bottom: 5px;
}
.content1 .contentBox1 .contentTop1 .contentTop1-left{
	float: left;
	color: #FF4500;
}
.content1 .contentBox1 .contentTop1 .contentTop1-right{
	float: right;
}
.content1 .contentBox1 .contentTop1 .contentTop1-right li{
	float: left;
	list-style-type: none;
}
.content1 .contentBox1 .contentTop1 .contentTop1-right li a{
	text-decoration: none;
	font-size: 12px;
	color: #999999;
	border-left: 1px solid #999999;
	height: 12px;
    line-height: 12px;
    padding: 0px 10px;
    display: inline-block;
}
.content1 .contentBox1 .contentTop1 .contentTop1-right li .first-a{
	border-left: none;
}
.content1 .contentBox1 .contentBottom1{
	border-top:2px solid #FF4500;
	background-color: white;
	text-align: center;
	height: 360px;
}
.content1 .contentBox1 .contentBottom1 .contentBottom1-one{
	float: left;
	padding-top: 10px;
}
.content1 .contentBox1 .contentBottom1 .contentBottom1-one p:nth-child(1){
	text-align: left;
}
.content1 .contentBox1 .contentBottom1 .contentBottom1-one p:nth-child(2){
	text-align: left;
}
.content1 .contentBox1 .contentBottom1 .contentBottom1-one p:nth-child(3){
	text-align: left;
}
.content1 .contentBox1 .contentBottom1 .contentBottom1-one p:nth-child(4){
	font-size: 14px;
	color: #FF4500;
	padding-top: 20px;
	padding-bottom: 5px;
}
.content1 .contentBox1 .contentBottom1 .contentBottom1-one p:nth-child(5){
	font-size: 12px;
	color: #999999;
}
.content1 .contentBox1 .contentBottom1 .contentBottom1-one p span{
	border-bottom: 1px dashed #EEEEEE;
	width: 85px;
	display: inline-block;
	height: 34px;
    line-height: 34px;
}
.content1 .contentBox1 .contentBottom1 .contentBottom1-one p span:nth-child(1){
	margin-left: 15px;
	margin-right: 10px;
}
.content1 .contentBox1 .contentBottom1 .contentBottom1-one p span:nth-child(2){
	margin-right: 15px;
}
.content1 .contentBox1 .contentBottom1 .contentBottom1-one p span a{
	font-size: 12px;
	color: black;
	text-decoration: none;
}
.content1 .contentBox1 .contentBottom1 .contentBottom1-two{
	float: left;
}
.content1 .contentBox1 .contentBottom1 .contentBottom1-three{
	float: left;
	border-right: 1px solid #F4F4F4;
	width: 219px;
}
.content1 .contentBox1 .contentBottom1 .contentBottom1-three .three1{
	border-bottom: 1px solid #F4F4F4;
}
.content1 .contentBox1 .contentBottom1 .contentBottom1-three p:first-child{
	font-size: 15px;
	padding-bottom: 5px;
	padding-top: 20px;
}
.content1 .contentBox1 .contentBottom1 .contentBottom1-three p:nth-child(2){
	font-size: 12px;
	color: #999999;
	padding-bottom: 5px;
}
.content1 .contentBox1 .contentBottom1 .contentBottom1-four{
	float: left;
	width: 220px;
}
.content1 .contentBox1 .contentBottom1 .contentBottom1-four p:first-child{
	font-size: 15px;
	padding-bottom: 5px;
	padding-top: 20px;
}
.content1 .contentBox1 .contentBottom1 .contentBottom1-four p:nth-child(2){
	font-size: 12px;
	color: #999999;
	padding-bottom: 5px;
}
.content1 .contentBox1 .contentBottom1 .contentBottom1-five{
	float: left;
	border-left: 1px solid #F4F4F4;
	width: 219px;
}
.content1 .contentBox1 .contentBottom1 .contentBottom1-five .five1{
	border-bottom: 1px solid #F4F4F4;
}
.content1 .contentBox1 .contentBottom1 .contentBottom1-five p:first-child{
	font-size: 15px;
	padding-bottom: 5px;
	padding-top: 20px;
}
.content1 .contentBox1 .contentBottom1 .contentBottom1-five p:nth-child(2){
	font-size: 12px;
	color: #999999;
	padding-bottom: 5px;
}
